{% extends 'list.html' %}
{% load static %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 5%">Nro</th>
        <th scope="col" style="width: 15%">Nombre</th>
        <th scope="col" style="width: 15%">Descripción</th>
        <th scope="col" style="width: 10%">Nombre cuenta</th>
        <th scope="col" style="width: 10%">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for obj in object_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.desc }}</td>
            <td>{{ obj.codi.name }}</td>
            <td class="text-center">
                <a href="{% url 'erp:categoria_update' obj.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'erp:categoria_delete' obj.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}